/* CSS Document */

h1 
{
    font-size:6vw;
    color:darkgreen;
    background-color: white;
    border: dashed darkgreen;
    padding:4%
}
h2
{
    text-align: left;
    color:darkgreen;
    background-color: white;
    text-decoration: underline darkgreen;
    padding:2%
}
h3
{
    text-align: left;
    color:darkgreen;
    background-color: white;
    text-decoration: underline darkgreen;
    padding:2%
}
h4
{
    text-align: left;
    color:darkgreen;
    background-color: white;
    text-decoration: underline darkgreen;
    padding:2%
}
li
{
    font-size:.8vw;
}
h5
{
    text-align: left;
    color:darkgreen;
    background-color: white;
    text-decoration: underline darkgreen;
    padding:2%
}