*
{
    text-align: center;
    
}
h1
{
    font-family:'NotoSerif';
    src: url("fonts/NotoSerifDisplay-VariableFont_wdth,wght.ttf")format('truetype');
    font-size:40px;
    color:black;
}
h2
{
    font-family:'Sourcesans';
    src: url("fonts/SourceSansPro-Regular.ttf")format('truetype');
    font-size:17px;
    color:black;
}
h3
{
    font-family:'Sourcesans';
    src: url("fonts/SourceSansPro-Regular.ttf")format('truetype');
    font-size:17px;
    color:black;
}
p
{
    font-family:'Sourcesans';
    src: url("fonts/SourceSansPro-Regular.ttf")format('truetype');
    font-size:15px;
    color:black;
}
body
{
    background-color:rgb(248, 240, 227);
}
ul
{
    font-family:'Sourcesans';
    src: url("fonts/SourceSansPro-Regular.ttf")format('truetype');
    font-size:17px;
    color:dimgray;
}
li
{
    font-family:'Sourcesans';
    src: url("fonts/SourceSansPro-Regular.ttf")format('truetype');
    font-size:15px;
    color:dimgray;
}
ol
{
    font-family:'Sourcesans';
    src: url("fonts/SourceSansPro-Regular.ttf")format('truetype');
    font-size:17px;
    color:dimgray;
}