*
{
    text-align: center;
    
}
@font-face
{
    font-family:'dosis';
    src: url("fonts/Dosis-VariableFont_wght.ttf")format('truetype');
}
@font-face
{
    font-family:'corm';
    src: url("fonts/CormorantGaramond-Regular.ttf")format('truetype');
}
h1
{
    font-family:'dorsis';
    font-size:40px;
    color:black;
}
h2
{
    font-family:'corm';
    font-size:20px;
    color:black;
}
h3
{
    font-family:'corm';
    font-size:20px;
    color:black;
}
p
{
    font-family:'corm';
    font-size:17px;
    color:black;
}
body
{
    background-color:rgb(248, 240, 227);
}
ul
{
    font-family:'corm';
    font-size:17px;
    color:dimgray;
}
li
{
    font-family:'corm';
    font-size:17px;
    color:dimgray;
}
ol
{
    font-family:'corm';
    font-size:17px;
    color:dimgray;
}
table
{
    font-family:'corm';
    font-size:17px;
    color:black;
    text-align: center;
}
ifrmae
{
    border-width:0px;
}